.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.home img{
  width: 20vw;
  height: 30vh;
  margin: 2vh;
}

.last {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.last img{
  width: 20vw;
  height: 60vh;
  margin: 2vh;
}