.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.home img{
  width: 40vw;
  height: 40vh;
  margin: 2vh;
}

.last {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.last img{
  width: 30vw;
  height: 80vh;
  margin: 2vh;
}