.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.home img{
  width: 40vw;
  height: 40vh;
  margin: 2vh;
}

.last {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.last img{
  width: 30vw;
  height: 80vh;
  margin: 2vh;
}

@media only screen and (max-width: 650px){
  .last img{
    width: 70vw;
    height: 80vh;
  }

  .home img{
    width: 35vw;
    height: 20vh;
    margin: 2vh;
  }

  .last h1{
    font-size: 3vh;
  }
}